<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-2">
        {% if error != '' %}
        <div class="alert alert-danger" role="alert">
            <b>{{ error }}</b>
        </div>
        {% endif %}
        <form method="post" action="index.php">
            <div class="form-group">
                <input name="dir" type="text" id="disabledTextInput" class="form-control" placeholder="Diretório" required value="{{ dir }}">
            </div>
            <div class="form-group">
                <textarea name="arquivos" class="form-control" id="exampleFormControlTextarea1" rows="6" cols="70" placeholder="Informe a lista de arquivos" required>{{ arquivos }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Analisar</button>
        </form>
        <div>
            <div class="alert alert-primary" role="alert">
                <b>Arquivos Encontrados {{ TotalArquivosEncontrados }}</b>
            </div>
            <div class="mx-auto">
                <table class="table table-striped">
                    <th>Diretório</th>
                    <th>Arquivo</th>
                    <th>Data</th>
                    {% for arquivos in ArquivosEncontradosDisplay %}
                    <tr>
                        <td>
                            <p>{{ arquivos.diretorio }}</p>
                        </td>
                        <td>
                            <a href="{{ arquivos.link }}">{{ arquivos.nome }}</a>
                        </td>
                        <td>
                            <p>{{ arquivos.data }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="alert alert-warning" role="alert">
                <b>Arquivos Não Encontrados {{ TotalArquivosNaoEncontrados }}</b>
            </div>
            <ul class="list-group">
                {% for arquivos_n in ArquivosNaoEncontrados %}
                <li class="list-group-item">{{ arquivos_n }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>